body{
    font-family: 'Roboto Slab', serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.orange-color-highlight{
    color:lightsalmon;
    font-family: georgia;
}

.half-width{
    width:45%;
    margin: 2.5%;
    float:left;
}
.half-width img{
    height:400px;
    width:400px;
}

.top-banner{
    background-image: url("images/top-banner.png");
    height: 525px;
    background-repeat: no-repeat;
}

.link-banner{
text-decoration: none;
font-weight: 700;
color: white;
padding: 8px 20px;
background-image: linear-gradient(25deg, lightsalmon, tomato);
border-radius: 5px;
}

section{
    height: 500px;
    padding-bottom: 50px;
}

.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.single-experience{
    box-shadow: 5px 5px 25px gray;
    height: 70%;
    border-radius: 5px;
    width: 40%;
    padding-left: 5px;
    background-color: #ebebeb;
}

#full-stack{
    border-left: 8px solid;
    border-image: linear-gradient(150deg, lightsalmon, lightblue);
    border-image-slice: 1;
    margin-left:110px;
}

#half-stack{
    border-left: 8px solid;
    border-image: linear-gradient(180deg, lightsalmon, lightblue);
    border-image-slice: 1;
}
footer p{
    font-family: georgia;
    text-align: center;
    font-size: 18px;
}

